@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --orange: #ff6600;
  --orange2: #ff761a;
  --darkblue: #10375c;
  --softblue: #99aabe;
  --gray: #3d454a;
  --black: #000;
  --light: #eeeff1;
  --white: #ffff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --gradient: linear-gradient(to bottom, rgba(255, 102, 0, 0.9), rgba(255, 152, 63, 0.9));
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.3s linear;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 5rem;
}

html {
  overflow-x: hidden;
}

/* button */
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.8rem;
  background: var(--orange);
  color: var(--white);
  padding: 0.8rem 2.3rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn:hover {
  background: #ff983f;
}

/* navbar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  padding: 1.5rem 2rem;
}
.logo img {
  width: 125px;
}
.navbar {
  display: flex;
}
.navbar li {
  position: relative;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  counter-reset: var(--orange);
  font-weight: 500;
  color: var(--black);
}
.navbar a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: var(--gradient);
  bottom: -14px;
  left: 0;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}
#menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
header.active {
  box-shadow: var(--box-shadow);
  padding: 1rem 9%;
}

section {
  padding: 50px 100px;
}

/* beranda */
.beranda {
  display: grid;
  gap: 2rem 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.beranda .text {
  text-align: left;
  padding-left: 2rem;
}
.beranda .text h1 {
  position: relative;
  isolation: isolate;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--black);
  line-height: 3rem;
}
.beranda .text h1::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1rem;
  height: 4px;
  width: 2.5rem;
  background-color: var(--black);
}
.beranda .text p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--black);
  line-height: 1.75rem;
}
.beranda .image img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}
.beranda .btn:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
span {
  color: var(--orange);
}

/* service */
.services {
  text-align: center;
  padding: 1.5rem 3rem;
  background: var(--light);
}
.services h1 {
  padding-top: 1rem;
  color: var(--black);
}
.services .fa-star {
  padding: 0 1rem;
  color: var(--orange);
}
.services-grid {
  display: grid;
  padding-bottom: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.service {
  background: var(--white);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: --box-shadow;
  transition: transform 0.3s;
}
.service img {
  width: 80px;
  height: 80px;
}
.service h3 {
  font-size: 1rem;
  color: var(--black);
  padding-bottom: 0;
}
.service:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
  background: var(--orange);
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--black);
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* card-cars */
.card-cars .heading {
  padding-top: 2rem;
}
.slider .wrapper {
  position: relative;
  overflow-x: hidden;
}
.slider .wrapper .slide {
  cursor: pointer;
  font-size: 4rem;
  text-align: center;
  padding-top: 15.5%;
  height: 100%;
  color: var(--black);
  z-index: 1;
  width: 9%;
  background: var(--white);
}
.slider .wrapper .slide#prevBtn {
  position: absolute;
  top: 0;
  left: 0;
}
.slider .wrapper .slide#nextBtn {
  position: absolute;
  top: 0;
  right: 0;
}
.slider .wrapper .wrapper2 {
  width: 67.5vw;
  overflow-x: hidden;
  margin-left: 10vw;
}
.slider .wrapper .wrapper-box {
  display: flex;
  gap: 2rem;
}
.slider .wrapper .wrapper-box .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background: var(--gradient);
}
.slider .wrapper .wrapper-box .box img {
  width: 15.75vw;
}
.slider .wrapper .wrapper-box .box h3 {
  font-size: 1.25rem;
  padding: 1rem 0;
}
.slider .wrapper .wrapper-box .box:hover img {
  transform: scale(1.1);
}
.slider .wrapper .wrapper-box .box .car-info {
  font-weight: 500;
  padding: 1rem 0;
}
.slider .wrapper .wrapper-box .box .car-info .price {
  padding-top: 0.5rem;
  font-size: 1.3rem;
}
.slider .wrapper .wrapper-box .box .btn {
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
  background-color: var(--darkblue);
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  white-space: nowrap;
}
.slider .wrapper .wrapper-box .box .btn:hover {
  background-color: var(--black);
}

/* button all (move to page) */
.btn-all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.btn-all .detail {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border: 2px solid var(--orange);
  border-radius: 2rem;
  color: var(--darkblue);
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-all:hover {
  transform: scale(1.1);
}

/* syarat & cara */
h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.card-syarat-cara {
  position: relative;
  margin: 2rem 225px;
  border: var(--border);
  text-align: center;
}
.tab {
  display: flex;
  position: absolute;
  top: -30px;
}
.tab .btn {
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 1.1rem 2rem;
  border-radius: 5px;
  border: var(--border);
}
.tab .btn:hover {
  transform: translateY(-15%);
}
.tab .btn#btn-syaratpesan {
  background: var(--darkblue);
}
.tab .btn#btn-carapesan {
  background: var(--orange2);
}

.tab-content #syaratpesan {
  padding: 2rem;
  padding-bottom: 3rem;
  background: var(--darkblue);
  color: var(--white);
  border-radius: 1rem;
}
.tab-content #syaratpesan h2 {
  padding: 2.5rem 0;
}
ul {
  text-align: left;
  list-style: none;
}
ul li {
  margin-bottom: 1rem;
}
ul li span {
  font-weight: 700;
}
.tab-content #syaratpesan ul {
  padding: 0 100px 2rem;
}
i {
  font-weight: 600;
}

.tab-content #carapesan {
  padding: 2rem 9rem 3rem;
  background: var(--orange2);
  color: var(--white);
  border-radius: 1rem;
}
.tab-content #carapesan h2 {
  padding: 2.5rem 0;
}
#carapesan .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}
#carapesan .grid-container .grid-item {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  gap: 3rem;
  background-color: var(--gray);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
#carapesan .grid-container .grid-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
#carapesan .grid-container .grid-item .desc-cara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.desc-cara h3 {
  margin: 0;
  padding-top: 0;
  font-size: 1.35rem;
  color: var(--white);
}
.desc-cara p {
  margin: 0;
  font-size: 0.85rem;
  color: var(--white);
}

/* review */
.reviews {
  padding: 30px 250px;
  border-radius: var(--border);
}
.reviews h1 {
  padding-bottom: 1rem;
  text-align: center;
}
.review-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.review {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  margin-top: 1.5rem;
  padding: 1.25rem;
  border: 1px solid var(--gray);
  border-radius: 1rem;
}
.review .user-info {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
}
.review .user-info .user-initial {
  font-weight: bold;
  color: var(--black);
  flex-shrink: 0;
}
.review .user-info .stars {
  color: var(--orange2);
  font-size: 1.8rem;
  flex-shrink: 0;
}
.review .user-info p {
  font-size: 0.9rem;
  text-align: justify;
  color: var(--black);
  line-height: 1.6;
  flex-grow: 1;
}

/* location */
.location {
  text-align: center;
}
.location .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.location .map {
  width: 450px;
  height: 300px;
  border: 2px solid var(--orange);
  border-radius: 0.5rem;
}

/* footer */
.footer {
  background: var(--darkblue);
  color: var(--white);
  padding: 50px;
}
.footer .footer-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.footer .footer-box-container .box {
  padding: 0 1rem;
}
.footer .footer-box-container .box h3 {
  font-size: 1.1rem;
  padding-bottom: 1.2rem;
}
.footer .footer-box-container .box p {
  font-size: 0.9rem;
  line-height: 2;
}
.footer .footer-box-container .box ul li {
  display: flex;
  align-items: center;
}
.footer .footer-box-container .box ul li p {
  padding-left: 1rem;
}
.footer .footer-box-container .box .pembayaran img {
  max-width: 225px;
}
.footer .footer-box-container .box .pembayaran p {
  font-size: 0.95rem;
  padding: 1rem 0;
}
.footer .footer-box-container .box .btn {
  margin: 0 0 1.5rem;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 0.8rem;
}
.footer .footer-box-container .box .btn img {
  width: 2rem;
  margin-left: 0.25rem;
  vertical-align: middle;
}
.footer .footer-box-container .box .sosmed {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .footer-box-container .box .sosmed img {
  width: 2rem;
  height: 2rem;
}

/* daftar mobil */

/* drop down */
.dropdown-btn {
  margin-top: 5rem;
  padding: 50px 50px 35px;
  display: flex;
  gap: 2.5rem;
  background-color: var(--light);
}
.dropdown-btn .dropdown .select {
  display: flex;
  width: 220px;
  height: 3rem;
  padding: 1.25rem;
  background: var(--darkblue);
  font-weight: 500;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
.select i {
  font-size: 1.4rem;
  transition: 0.3s;
}
.dropdown .select span,
.dropdown .select i {
  color: var(--white);
}
.dropdown.active .select i {
  transform: rotate(-180deg);
}
.dropdown .options {
  position: relative;
  padding: 1rem;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
  color: var(--white);
  background: var(--darkblue);
  box-shadow: var(--box-shadow);
  display: none;
}
.dropdown.active .options {
  display: block;
}
.options li {
  display: flex;
  height: 2.5rem;
  cursor: pointer;
  padding: 1.5rem 1.2rem;
  margin-bottom: 0;
  border-radius: 0.5rem;
  align-items: center;
  background: var(--darkblue);
}
.options li:hover {
  filter: brightness(150%);
}
.options li span {
  color: var(--white);
  font-weight: 400;
}

/* all card cars */
.allcard-cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 50px;
}
.allcard-cars .box {
  position: relative;
  text-align: center;
  border: var(--border);
  padding: 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background: var(--gradient);
}
.allcard-cars .box img {
  width: 17vw;
}
.allcard-cars .box h3 {
  font-size: 1.25rem;
  padding: 1rem 0;
}
.allcard-cars .box:hover img {
  transform: scale(1.1);
}
.allcard-cars .box .car-info {
  font-weight: 500;
  padding: 1rem 0;
}
.allcard-cars .box .car-info .price {
  padding-top: 0.5rem;
  font-size: 1.3rem;
}
.allcard-cars .box .btn {
  position: absolute;
  bottom: -1.5rem;
  transform: translateX(-50%);
  background-color: var(--darkblue);
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  white-space: nowrap;
}
.allcard-cars .box .btn:hover {
  background-color: var(--black);
}

/* caption slider */
.capt-slider {
  margin: 3rem 0 2rem;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  background: var(--softblue);
}
.capt-slider .slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.capt-slider .slides .slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.capt-slider .slides .slide .desc-slide {
  display: grid;
  gap: 0 1rem;
  padding: 2rem 150px;
  position: relative;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}
.capt-slider .slides .slide .desc-slide img {
  max-width: 150px;
}
.capt-slider .slides .slide .desc-slide p {
  font-size: 1.3rem;
  font-weight: 600;
  width: 450px;
}

/* detail mobil */
.car-detail {
  padding-top: 0;
  padding-bottom: 100px;
}
.car-detail .border-detail {
  position: relative;
  align-items: center;
  margin: 0 6rem;
  background-color: var(--white);
  border: 2px solid var(--orange);
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
  justify-content: center;
}
.car-detail .border-detail h1 {
  text-align: center;
  margin: 2.25rem auto;
}
.car-detail .border-detail .content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.car-detail .border-detail .content-grid img {
  width: 100%;
  padding: 0 0 2rem 3rem;
  display: block;
}
.car-detail .border-detail .content-grid .description {
  line-height: 1.8;
  font-size: 1rem;
  padding: 1rem 3rem 2rem 0;
}
.car-detail .border-detail h3 {
  text-align: center;
  text-transform: capitalize;
  padding: 0;
}
.car-detail .border-detail .car-spec {
  margin: 1rem 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
.car-detail .border-detail .car-spec div {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  text-align: center;
  display: grid;
}
.car-detail .border-detail .car-spec div i {
  color: var(--orange);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.car-detail .border-detail .pricing {
  text-align: center;
  margin: 2rem 300px;
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: 1rem;
}
.car-detail .border-detail .pricing h3 {
  padding-bottom: 1rem;
}
.car-detail .border-detail .btn {
  background-color: var(--orange2);
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 280px;
  margin: 2.5rem auto;
  padding: 1rem;
  color: var(--white);
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.8rem;
}
.car-detail .border-detail .btn img {
  width: 2rem;
  margin-left: 0.25rem;
  vertical-align: middle;
}

/* responsive */
@media (max-width: 1024px) {
  html {
    font-size: 65%;
  }
  section {
    padding: 40px 30px;
  }
  /* logo header */
  .logo img {
    width: 100px;
  }

  /* card-cars */
  .slider .wrapper .slide {
    width: 13%;
  }
  .slider .wrapper .wrapper2 {
    margin-left: 15.75vw;
  }
  .slider .wrapper .wrapper-box {
    gap: 2.5rem;
  }

  /* syarat & cara */
  #carapesan .grid-container .grid-item {
    padding: 1rem 2rem;
    gap: 1.5rem;
  }
  #carapesan .grid-container .grid-item img {
    width: 95px;
    height: 95px;
  }

  /* reviews */
  .reviews {
    padding: 25px 200px;
  }

  /* location */
  .location .map {
    width: 350px;
    height: 220px;
  }

  /* footer */
  .footer .footer-box-container .box .pembayaran img {
    max-width: 175px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  /* navbar */
  #menu-icon {
    display: block;
    padding: 1.5rem;
  }
  header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
    box-shadow: var(--box-shadow);
    transition: 0.5s ease;
    text-align: left;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navbar a {
    padding: 1rem;
    border-left: 2px solid var(--orange);
    margin: 0.5rem 1rem 1rem;
    color: var(--black);
    display: block;
  }
  .navbar a:hover {
    color: var(--white);
    background: var(--orange);
    border: none;
  }
  .navbar a::after {
    display: none;
  }
  #menu-icon.fa-xmark {
    transform: rotate(180deg);
  }
  header.active {
    padding: 0.8rem;
  }

  /* beranda */
  .beranda {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .beranda .text h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .beranda .text p {
    font-size: 1.25rem;
    line-height: 1.8 rem;
  }
  .beranda .btn {
    font-size: 1.5rem;
  }

  /* service */
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .services-grid .service {
    margin: 0 0.5rem;
    padding: 1.5rem;
  }
  .services-grid .service img {
    width: 70px;
    height: 70px;
  }
  .services-grid .service h3 {
    font-size: 1.25rem;
  }

  /* card-cars */
  .card-cars .heading {
    font-size: 2.75rem;
  }
  .slider .wrapper .wrapper2 {
    width: 110%;
    margin: auto;
    margin-left: 0.25rem;
    margin-left: -4.25vw;
  }
  .slider .wrapper .slide#prevBtn {
    left: 12;
  }
  .slider .wrapper .slide#nextBtn {
    right: 12;
  }
  .slider .wrapper .wrapper2 .wrapper-box .box {
    display: none;
    border-radius: 1.5rem;
  }
  .slider .wrapper .wrapper2 .wrapper-box .box.active {
    display: block;
    padding-bottom: 4rem;
  }
  .slider .wrapper .wrapper2 .wrapper-box .box.active img {
    width: 35vw;
  }
  .slider .wrapper .slide {
    padding-top: 25%;
  }
  .slider .wrapper .wrapper-box .box h3 {
    font-size: 2.5rem;
  }
  .slider .wrapper .wrapper-box .box .car-info {
    padding-top: 2rem;
    font-size: 1.45rem;
  }
  .slider .wrapper .wrapper-box .box .car-info .price {
    font-size: 2rem;
  }
  .slider .wrapper .wrapper-box .box .btn {
    bottom: 2px;
    font-size: 1.6rem;
  }

  /* button all */
  .btn-all {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }

  /* syarat & cara */
  .card-syarat-cara {
    margin: 2rem 125px;
  }
  .tab {
    top: -15px;
  }
  .tab .btn {
    padding: 1rem 1.5rem;
  }
  .tab-content #syaratpesan ul {
    padding: 1.5rem 9.5rem;
    font-size: 1.1rem;
  }
  .tab-content #syaratpesan p {
    font-size: 1.1rem;
  }
  .tab-content #carapesan {
    padding: 2rem 8rem;
  }

  #carapesan .grid-container .grid-item {
    grid-template-columns: 80px auto;
    gap: 2rem;
    padding: 1.5rem;
    margin: 0 2rem;
  }
  #carapesan .grid-container .grid-item img {
    width: 80px;
    height: 80px;
  }
  #carapesan .grid-container .grid-item .desc-cara h3 {
    font-size: 1.2rem;
  }
  #carapesan .grid-container .grid-item .desc-cara p {
    font-size: 0.9rem;
  }

  /* reviews */
  .reviews {
    padding: 30px 150px;
  }

  /* location */
  .location .col {
    gap: 4em;
    padding-top: 2rem;
  }
  .location .map {
    width: 300px;
    height: 200px;
  }
  .location .row h3 {
    font-size: 2rem;
  }

  /* footer */
  .footer {
    padding: 35px;
  }
  .footer .footer-box-container .box .pembayaran img {
    max-width: 125px;
  }
  .footer .footer-box-container .box .btn {
    font-size: 0.8rem;
  }
  .footer .footer-box-container .box .btn img {
    width: 1.8rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  /* logo header */
  .logo img {
    width: 60px;
  }

  /* beranda */
  .beranda .text h1 {
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .beranda .text p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .beranda .btn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }

  /* service */
  .services {
    padding: 2rem 4rem;
  }
  .services h1 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }
  .services-grid {
    grid-template-columns: 1fr;
  }
  .services-grid .service {
    margin: 0 3rem;
  }
  .services-grid .service img {
    width: 50px;
    height: 50px;
  }
  .services-grid .service h3 {
    font-size: 1.1rem;
  }

  /* card-cars */
  .card-cars .slider .wrapper .slide {
    padding-top: 40%;
  }
  .slider .wrapper .slide {
    font-size: 3.5rem;
    width: 5%;
  }
  .slider .wrapper .wrapper-box .box {
    padding: 3rem;
  }
  .slider .wrapper .wrapper2 .wrapper-box .box.active img {
    width: 40vw;
  }
  .slider .wrapper .wrapper-box .box h3 {
    font-size: 2rem;
  }
  .slider .wrapper .wrapper-box .box .car-info {
    font-size: 1.25rem;
  }
  .slider .wrapper .wrapper-box .box .car-info .price {
    font-size: 1.75rem;
  }
  .slider .wrapper .wrapper-box .box .btn {
    font-size: 1.3rem;
  }
  .card-cars .btn-all-cars {
    font-size: 1.25rem;
  }

  /* button all */
  .btn-all {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  /* syarat & cara */
  .syarat-cara {
    padding-top: 2rem;
  }
  .card-syarat-cara {
    margin: 2rem 40px;
  }
  .tab .btn {
    padding: 1rem;
    font-size: 0.95rem;
  }

  .tab-content #syaratpesan {
    padding: 1.5rem;
  }
  .tab-content #syaratpesan h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .tab-content #syaratpesan ul {
    padding: 1.5rem 3rem;
  }
  .tab-content #syaratpesan p {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .tab-content #carapesan {
    padding: 1.5rem;
  }
  .tab-content #carapesan h2 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  #carapesan .grid-container {
    gap: 1.5rem;
  }
  #carapesan .grid-container .grid-item {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
    margin: 0 3rem;
    padding: 1rem 3rem;
  }
  #carapesan .grid-container .grid-item img {
    margin: 0 auto 1rem;
    width: 35px;
    height: 35px;
  }
  .desc-cara h3 {
    font-size: 1rem;
  }
  .desc-cara p {
    font-size: 0.8rem;
  }

  /* reviews */
  .reviews {
    padding: 3rem 35px;
  }
  .review .user-info .stars {
    font-size: 1.3rem;
  }

  /* location */
  .location .row h3 {
    font-size: 1.6rem;
  }
  .location .map {
    width: 225px;
    height: 140px;
  }

  /* footer */
  .footer {
    padding: 30px;
  }
  .footer .footer-box-container .box h3 {
    font-size: 1.4rem;
  }
  .footer .footer-box-container .box .pembayaran img {
    max-width: 100px;
  }
}
