<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NASARENTCARS</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/styles2.css" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- navbar in sidebar -->
    <nav>
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <a href="berandaAdmin.html"><img src="/static/img/nasarentcars.png" alt="NASARENTCARS" /></a>
      </div>
      <div class="sidebar">
        <div class="logo">
          <i class="bx bx-menu menu-icon"></i>
          <a href="berandaAdmin.html"
            ><span class="logo-name">NASARENT<span>CARS</span></span></a
          >
        </div>
        <div class="sidebar-content">
          <ul class="lists">
            <li class="list">
              <a href="berandaAdmin.html" class="nav-link">
                <i class="bx bx-home-alt icon"></i>
                <span class="link">Beranda</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-car icon"></i>
                <span class="link">Data Mobil</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-notepad icon"></i>
                <span class="link">Data Pemesanan</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bxs-user-badge icon"></i>
                <span class="link">Daftar Supir</span>
              </a>
            </li>
            <li class="list">
              <a href="#" class="nav-link">
                <i class="bx bx-heart icon"></i>
                <span class="link">Review</span>
              </a>
            </li>
          </ul>
          <div class="bottom-cotent">
            <ul class="lists">
              <li class="list">
                <a href="#" class="nav-link">
                  <i class="bx bx-user icon"></i>
                  <span class="link">Profile</span>
                </a>
              </li>
              <li class="list">
                <a href="#" class="nav-link log-out">
                  <i class="bx bx-log-out icon"></i>
                  <span class="link">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <section class="overlay"></section>

    <!-- dashboard -->
    <section class="homepage">
      <img src="/static/img/bgBerandaAdmin.jpg" alt="background welcome" />
    </section>

    <script src="/static/js/script2.js"></script>
  </body>
</html>
