<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- import css -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>NASARENTCARS</title>
  </head>
  <body>
    <!-- header  -->
    <header>
      <a href="#" class="logo"><img src="../static/img/nasarentcars.png" alt="NASARENTCARS" /></a>

      <div class="fa-solid fa-bars" id="menu-icon"></div>

      <ul class="navbar">
        <li><a href="#beranda">Beranda</a></li>
        <li><a href="#daftarmobil">Daftar Mobil</a></li>
        <li><a href="#snk">Syarat & Ketentuan</a></li>
        <li><a href="#carapesan">cara Pesan</a></li>
        <li><a href="#tetangkami">Tentang Kami</a></li>
      </ul>
    </header>

    <!-- home section -->
    <section class="beranda" id="beranda">
      <div class="text">
        <h1><span>NASA</span>RENTCARS</h1>
        <p>Solusi terpercaya untuk kebutuhan perjalanan Anda dengan pilihan mobil berkualitas, harga bersahabat, dan layanan terbaik yang siap menemani setiap keperluan Anda!</p>
        <a href="#" class="btn">Pilih Mobil</a>
      </div>
      <div class="image">
        <img src="../static/img/homeCover.png" alt="home-cover" />
      </div>
    </section>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/45f7984516.js" crossorigin="anonymous"></script>
    <!-- import js -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
