<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- import css -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>NASARENTCARS</title>
  </head>
  <body>
    <!-- header  -->
    <header>
      <a href="#" class="logo"><img src="../static/img/nasarentcars.png" alt="NASARENTCARS" /></a>

      <div class="fa-solid fa-bars" id="menu-icon"></div>

      <ul class="navbar">
        <li><a href="#beranda">Beranda</a></li>
        <li><a href="#daftarmobil">Daftar Mobil</a></li>
        <li><a href="#snk">Syarat & Ketentuan</a></li>
        <li><a href="#carapesan">cara Pesan</a></li>
        <li><a href="#tetangkami">Tentang Kami</a></li>
      </ul>
    </header>

    <!-- home section -->
    <section class="beranda" id="beranda">
      <div class="image">
        <img src="/static/img/homeCover.png" alt="home-cover" />
      </div>
      <div class="text">
        <h1><span>NASA</span>RENTCARS</h1>
        <p>Solusi terpercaya untuk kebutuhan perjalanan Anda dengan pilihan mobil berkualitas, harga bersahabat, dan layanan terbaik yang siap menemani setiap keperluan Anda!</p>
        <a href="#daftarmobil" class="btn">Pilih Mobil</a>
      </div>
    </section>

    <!-- service section-->
    <section class="services">
      <h1>
        <i class="fa-solid fa-star"></i>
        Layanan Kami
        <i class="fa-solid fa-star"></i>
      </h1>
      <div class="services-grid">
        <div class="service">
          <img src="/static/img/icon/fast-service.png" alt="Pelayanan Cepat" />
          <h3>Pelayanan Cepat</h3>
        </div>
        <div class="service">
          <img src="/static/img/icon/24hours.png" alt="Layanan 24 Jam" />
          <h3>Layanan 24 Jam</h3>
        </div>
        <div class="service">
          <img src="/static/img/icon/cheap.png" alt="Harga Terjangkau" />
          <h3>Harga Terjangkau</h3>
        </div>
        <div class="service">
          <img src="/static/img/icon/free-shuttle-car.png" alt="Gratis Antar Jemput" />
          <h3>Gratis Antar Jemput</h3>
        </div>
      </div>
    </section>

    <!-- card cars section -->
    <section class="card-cars" id="card-cars">
      <h1 class="heading">Daftar <span>Sewa Mobil</span></h1>
      <div class="slider">
        <div class="wrapper">
          <i class="fa-solid fa-circle-chevron-left slide" id="prevBtn"></i>
          <div class="wrapper2">
            <div class="wrapper-box">
              <div class="box active" id="box-car">
                <h3>Brio 2018</h3>
                <img src="/static/img/mobil/Brio-2018.png" alt="Brio 2018" />
                <div class="car-info">
                  <p>Kapasitas 7 Orang</p>
                  <p class="price">Rp. 300.000/Hari</p>
                </div>
                <a href="#" class="btn">Pesan Sekarang</a>
              </div>

              <div class="box" id="box-car">
                <h3>Brio 2019</h3>
                <img src="/static/img/mobil/Brio-2019.png" alt="Brio 2018" />
                <div class="car-info">
                  <p>Kapasitas 7 Orang</p>
                  <p class="price">Rp. 300.000/Hari</p>
                </div>
                <a href="#" class="btn">Pesan Sekarang</a>
              </div>

              <div class="box" id="box-car">
                <h3>Ertiga</h3>
                <img src="/static/img/mobil/Ertiga.png" alt="Brio 2018" />
                <div class="car-info">
                  <p>Kapasitas 7 Orang</p>
                  <p class="price">Rp. 300.000/Hari</p>
                </div>
                <a href="#" class="btn">Pesan Sekarang</a>
              </div>

              <div class="box" id="box-car">
                <h3>Honda Brio</h3>
                <img src="/static/img/mobil/honda-brio.png" alt="Brio 2018" />
                <div class="car-info">
                  <p>Kapasitas 7 Orang</p>
                  <p class="price">Rp. 300.000/Hari</p>
                </div>
                <a href="#" class="btn">Pesan Sekarang</a>
              </div>

              <div class="box" id="box-car">
                <h3>New Avanza</h3>
                <img src="/static/img/mobil/New-Avanza.png" alt="Brio 2018" />
                <div class="car-info">
                  <p>Kapasitas 7 Orang</p>
                  <p class="price">Rp. 300.000/Hari</p>
                </div>
                <a href="#" class="btn">Pesan Sekarang</a>
              </div>
              <div class="box" id="box-car">
                <h3>Toyota Avanza</h3>
                <img src="/static/img/mobil/Toyota-Avanza(2020-2022).png" alt="Brio 2018" />
                <div class="car-info">
                  <p>Kapasitas 7 Orang</p>
                  <p class="price">Rp. 300.000/Hari</p>
                </div>
                <a href="#" class="btn">Pesan Sekarang</a>
              </div>
            </div>
          </div>
          <i class="fa-solid fa-circle-chevron-right slide" id="nextBtn"></i>
        </div>
      </div>

      <a href="#daftarmobil" class="btn-all-cars">
        <div class="detail">
          <p>lihat detail</p>
          <div class="fa-solid fa-circle-arrow-right next-newPage"></div>
        </div>
      </a>
    </section>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/45f7984516.js" crossorigin="anonymous"></script>
    <!-- import js -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
