<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- import css -->
    <link rel="stylesheet" href="/static/css/styles.css" />

    <title>NASARENTCARS</title>
  </head>
  <body>
    <!-- header  -->
    <header>
      <a href="beranda.html" class="logo"><img src="../static/img/nasarentcars.png" alt="NASARENTCARS" /></a>

      <div class="fa-solid fa-bars" id="menu-icon"></div>

      <ul class="navbar">
        <li><a href="beranda.html">Beranda</a></li>
        <li><a href="daftar-mobil.html">Daftar Mobil</a></li>
        <li><a href="beranda.html#btn-syaratpesan" onclick="showSyarat()">Syarat & Ketentuan</a></li>
        <li><a href="beranda.html#btn-carapesan" onclick="showCara()">Syarat & Ketentuan</a></li>
        <li><a href="#tetangkami">Tentang Kami</a></li>
      </ul>
    </header>

    <!-- drop down -->
    <section class="dropdown-btn">
      <div class="dropdown">
        <div class="select">
          <span class="selected">Jenis Mobil</span>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <ul class="options">
          <li class="option"><span class="option-text">Hatchback</span></li>
          <li class="option"><span class="option-text">MPV</span></li>
          <li class="option"><span class="option-text">SUV</span></li>
          <li class="option"><span class="option-text">Sedan</span></li>
        </ul>
      </div>

      <div class="dropdown">
        <div class="select">
          <span class="selected">Transmisi Mobil</span>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <ul class="options">
          <li class="option"><span class="option-text">Matic</span></li>
          <li class="option"><span class="option-text">Manual</span></li>
        </ul>
      </div>
    </section>

    <!-- all card-cars -->
    <section class="allcard-cars">
      <div class="box active" id="box-car">
        <h3>Brio 2019</h3>
        <img src="/static/img/mobil/Brio-2019.png" alt="Brio 2019" />
        <div class="car-info">
          <p>Kapasitas 7 Orang</p>
          <p class="price">Rp. 300.000/Hari</p>
        </div>
        <a href="#" class="btn">Detail Mobil</a>
      </div>

      <div class="box" id="box-car">
        <h3>Brio 2018</h3>
        <img src="/static/img/mobil/Brio-2018.png" alt="Brio 2018" />
        <div class="car-info">
          <p>Kapasitas 7 Orang</p>
          <p class="price">Rp. 300.000/Hari</p>
        </div>
        <a href="#" class="btn">Detail Mobil</a>
      </div>

      <div class="box" id="box-car">
        <h3>New Avanza 2021</h3>
        <img src="/static/img/mobil/New-Avanza.png" alt="New Avanza 2021" />
        <div class="car-info">
          <p>Kapasitas 7 Orang</p>
          <p class="price">Rp. 350.000/Hari</p>
        </div>
        <a href="#" class="btn">Detail Mobil</a>
      </div>

      <div class="box" id="box-car">
        <h3>Grand Avanza 2017</h3>
        <img src="/static/img/mobil/New-Avanza.png" alt="Grand Avanza 2017" />
        <div class="car-info">
          <p>Kapasitas 7 Orang</p>
          <p class="price">Rp. 350.000/Hari</p>
        </div>
        <a href="#" class="btn">Detail Mobil</a>
      </div>

      <div class="box" id="box-car">
        <h3>New XL7 2023</h3>
        <img src="/static/img/mobil/New-Avanza.png" alt="New XL7 2023" />
        <div class="car-info">
          <p>Kapasitas 7 Orang</p>
          <p class="price">Rp. 400.000/Hari</p>
        </div>
        <a href="#" class="btn">Detail Mobil</a>
      </div>

      <div class="box" id="box-car">
        <h3>New Ertiga 2019</h3>
        <img src="/static/img/mobil/Ertiga.png" alt="New Ertiga 2019" />
        <div class="car-info">
          <p>Kapasitas 7 Orang</p>
          <p class="price">Rp. 400.000/Hari</p>
        </div>
        <a href="#" class="btn">Detail Mobil</a>
      </div>

      <div class="box" id="box-car">
        <h3>BR-V 2019</h3>
        <img src="/static/img/mobil/BR-V.png" alt="BR-V 2019" />
        <div class="car-info">
          <p>Kapasitas 7 Orang</p>
          <p class="price">Rp. 400.000/Hari</p>
        </div>
        <a href="detail-mobil.html#car-detail" class="btn">Detail Mobil</a>
      </div>
    </section>

    <!-- footer -->
    <section class="footer">
      <div class="footer-box-container">
        <div class="box">
          <h3>Tentang Kami</h3>
          <p>
            Kami menyediakan berbagai pilihan armada yang nyaman, aman, dan terawat dengan baik, serta didukung oleh driver profesional dan ramah. Baik untuk keperluan perjalanan bisnis, liburan keluarga, acara pernikahan, atau kegiatan
            lainnya, NASARENTCARS siap menjadi mitra perjalanan Anda dengan layanan yang mengutamakan kenyamanan dan kepuasan pelanggan. Percayakan perjalanan Anda bersama kami!
          </p>
        </div>
        <div class="box">
          <h3>Lokasi Kami</h3>
          <ul>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>Jl. Nilam V No. 37 RT.04/RW.010, Jatiraden, Kec. Jatisampurna, Kota Bekasi</p>
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>Jl. TB Simatupang No.9A 12, RT.12/RW.5, Tanjung barat, Kec. Jagakarsa, Kota Jakarta Selatan. Spbu 34-12306 (dalam Spbu)</p>
            </li>
            <li>
              <i class="fa-brands fa-whatsapp"></i>
              <p>+62 878-7150-4156</p>
            </li>
            <li>
              <i class="fa-solid fa-phone"></i>
              <p>+62 878-7150-4156</p>
            </li>
          </ul>
        </div>
        <div class="box">
          <h3>Pembayaran</h3>
          <div class="pembayaran">
            <img src="/static/img/icon/BCA-ATM.png" alt="BCA" />
            <p>atau</p>
            <img src="/static/img/icon/CASH.png" alt="CASH" />
          </div>
        </div>
        <div class="box">
          <h3>Hubungi kami sekarang untuk sewa mobil cepat dan mudah!</h3>
          <a href="https://wa.me/+6287871504156" class="btn">
            Klik di sini untuk pemesanan
            <img src="/static/img/icon/whatsapp.png" alt="" />
          </a>
          <h3>Ikuti Kami</h3>
          <div class="sosmed">
            <a href="https://www.instagram.com/nasarentcars?igsh=MW9qNG9iaG43NjQzZw=="><img src="/static/img/icon/instagram.png" alt="Instagram" class="ig" /></a>
            <a href="#"><img src="/static/img/icon/facebook.png" alt="Facebook" class="fb" /></a>
            <a href="https://www.tiktok.com/@nasarentcars?_t=ZS-8s7Gv8kfrUa&_r=1"><img src="/static/img/icon/tiktok.png" alt="TikTok" class="tt" /></a>
          </div>
        </div>
      </div>
    </section>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/45f7984516.js" crossorigin="anonymous"></script>
    <!-- import js -->
    <script src="/static/js/script-DM.js"></script>
  </body>
</html>
