<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- import css -->
    <link rel="stylesheet" href="/static/css/styles.css" />

    <title>NASARENTCARS</title>
  </head>
  <body>
    <!-- header  -->
    <header>
      <a href="beranda.html" class="logo"><img src="../static/img/nasarentcars.png" alt="NASARENTCARS" /></a>

      <div class="fa-solid fa-bars" id="menu-icon"></div>

      <ul class="navbar">
        <li><a href="beranda.html">Beranda</a></li>
        <li><a href="daftar-mobil.html">Daftar Mobil</a></li>
        <li><a href="#syaratpesan">Syarat & Ketentuan</a></li>
        <li><a href="#carapesan">cara Pesan</a></li>
        <li><a href="#tetangkami">Tentang Kami</a></li>
      </ul>
    </header>

    <!-- caption slider  -->
    <section class="capt-slider">
      <div class="slides">
        <!-- Slide 1 -->
        <div class="slide">
          <div class="desc-slide">
            <img src="../static/img/icon/car-loan.png" alt="Slide 1" />
            <p>Mau rental mobil dengan mudah? <br />di NASARENTCARS saja!</p>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="slide">
          <div class="desc-slide">
            <img src="../static/img/icon/cheap-car.png" alt="Slide 2" />
            <p>Mau rental mobil dengan harga murah? <br />di NASARENTCARS saja!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- detail mobil -->
    <section class="car-detail">
      <div class="border-detail">
        <h1 class="header">HONDA BR-V 2019</h1>
        <div class="content-grid">
          <img src="../static/img/detail-mobil/BR-V_2019.png" alt="Honda BR-V 2019" />
          <div class="description">
            <p>
              Honda BR-V 2019 memiliki tambahan LED daytime running light dan fog lamp garnish. Panel dasbor baru dan AC dengan pengaturan automatic climate control yang mampu menyesuaikan suhu. Kapasitas bagasi yang luas di kelasnya.
              Menggunakan sistem audio video touchscreen 8 inci yang kompatibel dengan berbagai format musik melalui media seperti AM/FM Radio, MP3/WMA, Smartphone Connection, AUX Input, dan USB Port.
            </p>
          </div>
        </div>
        <h3>Spesifikasi</h3>
        <div class="car-spec">
          <div>
            <i class="fa-solid fa-gas-pump"></i>
            <strong>Pertamax / Pertalite</strong>
          </div>
          <div>
            <i class="fa-regular fa-snowflake"></i>
            <strong>AC Dingin</strong>
          </div>
          <div>
            <i class="fa-solid fa-key"></i>
            <strong>Lepas Kunci</strong>
          </div>
          <div>
            <i class="fa-solid fa-people-group"></i>
            <strong>7 Kursi</strong>
          </div>
          <div>
            <i class="fa-solid fa-car-side"></i>
            <strong>Matic</strong>
          </div>
        </div>
        <div class="pricing">
          <h3>Harga Sewa</h3>
          <p><strong>Rp. 400.000 / Hari</strong></p>
          <p><strong>Rp. 2.600.000 / Minggu</strong></p>
          <p><strong>Rp. 7.500.000 / Bulan</strong></p>
        </div>
        <a href="https://wa.me/+6287871504156" class="btn">
          Pesan Sekarang
          <img src="/static/img/icon/whatsapp.png" alt="" />
        </a>
      </div>
    </section>

    <!-- footer -->
    <section class="footer">
      <div class="footer-box-container">
        <div class="box">
          <h3>Tentang Kami</h3>
          <p>
            Kami menyediakan berbagai pilihan armada yang nyaman, aman, dan terawat dengan baik, serta didukung oleh driver profesional dan ramah. Baik untuk keperluan perjalanan bisnis, liburan keluarga, acara pernikahan, atau kegiatan
            lainnya, NASARENTCARS siap menjadi mitra perjalanan Anda dengan layanan yang mengutamakan kenyamanan dan kepuasan pelanggan. Percayakan perjalanan Anda bersama kami!
          </p>
        </div>
        <div class="box">
          <h3>Lokasi Kami</h3>
          <ul>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>Jl. Nilam V No. 37 RT.04/RW.010, Jatiraden, Kec. Jatisampurna, Kota Bekasi</p>
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              <p>Jl. TB Simatupang No.9A 12, RT.12/RW.5, Tanjung barat, Kec. Jagakarsa, Kota Jakarta Selatan. Spbu 34-12306 (dalam Spbu)</p>
            </li>
            <li>
              <i class="fa-brands fa-whatsapp"></i>
              <p>+62 878-7150-4156</p>
            </li>
            <li>
              <i class="fa-solid fa-phone"></i>
              <p>+62 878-7150-4156</p>
            </li>
          </ul>
        </div>
        <div class="box">
          <h3>Pembayaran</h3>
          <div class="pembayaran">
            <img src="/static/img/icon/BCA-ATM.png" alt="BCA" />
            <p>atau</p>
            <img src="/static/img/icon/CASH.png" alt="CASH" />
          </div>
        </div>
        <div class="box">
          <h3>Hubungi kami sekarang untuk sewa mobil cepat dan mudah!</h3>
          <a href="https://wa.me/+6287871504156" class="btn">
            Klik di sini untuk pemesanan
            <img src="/static/img/icon/whatsapp.png" alt="" />
          </a>
          <h3>Ikuti Kami</h3>
          <div class="sosmed">
            <a href="https://www.instagram.com/nasarentcars?igsh=MW9qNG9iaG43NjQzZw=="><img src="/static/img/icon/instagram.png" alt="Instagram" class="ig" /></a>
            <a href="#"><img src="/static/img/icon/facebook.png" alt="Facebook" class="fb" /></a>
            <a href="https://www.tiktok.com/@nasarentcars?_t=ZS-8s7Gv8kfrUa&_r=1"><img src="/static/img/icon/tiktok.png" alt="TikTok" class="tt" /></a>
          </div>
        </div>
      </div>
    </section>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/45f7984516.js" crossorigin="anonymous"></script>
    <!-- import js -->
    <script src="/static/js/script-DM.js"></script>
  </body>
</html>
